{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"
            integrity="sha512-XLo6bQe08irJObCc86rFEKQdcFYbGGIHVXcfMsxpbvF8ompmd1SNJjqVY5hmjQ01Ts0UmmSQGfqpt3fGjm6pGA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CogComp Transformer Language Model Demo</title>
    {% csrf_token %}
</head>
<body>
<style>
    .loader {
        border: 3px solid whitesmoke;
        border-radius: 50%;
        border-top: 3px solid black;
        width: 40px;
        height: 40px;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        margin-right: auto;
        margin-left: auto;
        position: absolute;
        visibility: hidden;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="container">
    <div id="jumbo_header" class="jumbotron jumbotron-fluid" style="display: none">
        <div class="container">
            <h1 class="display-4">CogComp Transformer Language Model</h1>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-4">
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" href="javascript:void(0)" role="button" id="model_select_dropdown"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Choose Model..
                </a>
                <ul class="dropdown-menu" aria-labelledby="model_select_dropdown">
                    {% for name in model_list %}
                        <li><a class="model_select" href="javascript:void(0)">{{ name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-4">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="example_dropdown"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    Example Inputs
                </a>
                <ul class="dropdown-menu" aria-labelledby="example_dropdown">
                    <li><a id="btn_example1" class="dropdown-item" href="javascript:void(0)">I eat @.</a></li>
                    <li><a id="btn_example2" class="dropdown-item" href="javascript:void(0)">@ is a professor.</a></li>
                    <li><a id="btn_example3" class="dropdown-item" href="javascript:void(0)">@ is a nurse.</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="input-group">

        <br>

    </div>
    <input id="inputA" type="text" aria-label="B" value="{{ sent1 }}" class="form-control" style="width: 100%"
           placeholder="Input sentence (with at least one mask '@' token)">
    <br>
    <input id="inputB" type="text" aria-label="A" value="{{ sent2 }}" class="form-control" style="width: 100%"
           placeholder="(Optional) second sentence">
    <br>


    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="customradio1" value="1" name="group1"
                {% if alg == "perToken" %} checked {% endif %}>
        <label class="custom-control-label" for="customradio1">Per-token independent predictions</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="customradio2" value="2" name="group1"
                {% if alg == "greedy" %} checked {% endif %}>
        <label class="custom-control-label" for="customradio2">Greedy choices (left to right)</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="customradio3" value="3" name="group1"
                {% if alg == "beamSearch" %} checked {% endif %}>
        <label class="custom-control-label" for="customradio3">Beam search</label>
    </div>
{#    <div class="custom-control custom-radio">#}
{#        <input type="radio" class="custom-control-input" id="customradio4" value="4" name="group1"#}
{#                {% if alg == "nextSentence" %} checked {% endif %}>#}
{#        <label class="custom-control-label" for="customradio4">Next Sentence Prediction</label>#}
{#    </div>#}

    <div style="text-align: center;">
        <button class="btn btn-outline-success" type="button" id="button-run">Run!</button>
        <button class="btn btn-outline-danger" type="button" id="button-clean">Clean!</button>
    </div>
    <br>
    <div id="loader_container" style="height: 55px; margin-left: 48%">
        <div class="loader" id="loader-main"></div>
    </div>
    {#<div class="alert alert-secondary" role="alert"  id="output">#}
    {% if nextSentence is not None %}
        <div class="alert alert-primary" role="alert">
            Is Next Sentence: <b color="green" ><font color="{{ nextSentence_color }}">{{ nextSentence }} ({{ nextSentence_score }})</font></b>
            v.s. {{ nextSentence_neg }} ({{ nextSentence_neg_score }})
        </div>
    {% endif %}
    <div style="overflow-x: scroll; overflow-y: hidden;  border: 1px solid gray;">
        <div style="white-space:nowrap;">
            <table class="table table-sm">
                <thead>
                <tr>
                    {% for t in tokens %}
                        <th scope="col">{{ t }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in table %}
                    <tr>
                        {% for t in row %}
                            <td scope="row">{{ t }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br><br><br>

</div>
<script>

    function in_iframe () {
        try {
            return window.self !== window.top;
        } catch (e) {
            return true;
        }
    }

    function bind_example(btn, example_text) {
        $(btn).click(function() {
            $("#inputA").val(example_text);
        });
    }

    let server_url = window.location.href;
    if (server_url.includes("perToken")
        || server_url.includes("greedy")
        || server_url.includes("beamSearch")
        || server_url.includes("nextSentence")) {
        server_url = server_url.split("/").slice(0,-4).join('/');
        server_url += "/"
        console.log(server_url);
    }
    $(function() {
        if (!in_iframe()) {
            $('#jumbo_header').show();
        }

        let $btn1 = $('#btn_example1');
        let $btn2 = $('#btn_example2');
        let $btn3 = $('#btn_example3');

        $("#model_select_dropdown").text("{{ model_list.0 }}");

        bind_example($btn1, $btn1.text());
        bind_example($btn2, $btn2.text());
        bind_example($btn3, $btn3.text());
    });

    $('.model_select').click(function(){
        $("#model_select_dropdown").text($(this).text());
    });

    $('#button-clean').click(function () {
        location.href = server_url;
    });

    $('#button-run').click(function () {
        if ($('#inputA').val().trim() === "") {
            $('#inputA').addClass("border-danger");
        } else {
            var A = $('#inputA').val().trim();
            var B = $('#inputB').val().trim();

            if (B.length === 0) {
                B = " "
            }

            var alg = "";
            if ($("#customradio1").is(":checked")) {
                alg = "perToken"
            }
            if ($("#customradio2").is(":checked")) {
                alg = "greedy"
            }
            if ($("#customradio3").is(":checked")) {
                alg = "beamSearch"
            }
            if ($("#customradio4").is(":checked")) {
                alg = "nextSentence"
            }

            document.getElementById("loader-main").style.visibility = "visible";

            let model_name = $('#model_select_dropdown').text();
            window.location.href = server_url + encodeURIComponent(A) + "/" + encodeURIComponent(B) + "/" + alg + "/" + model_name;
        }
    });

    function error() {
        console.log("an error happened ... ");
        document.getElementById("loader-main").style.visibility = "hidden";
    }

    document.getElementById("loader-main").style.visibility = "hidden";

</script>

<style>
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
</style>

</body>

</html>
